# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# IDE / Editor folders
.vscode/
.idea/

# OS-specific junk
.DS_Store
Thumbs.db

# Log or temporary files
*.log
*.tmp